.accomplissements-titre {
  position: absolute;
  top: 15%;
  font-size: 30px;
}

.accomplissements-container {
  position: absolute;
  top: 2.5%;
  left: 4%;
  filter: brightness(0.5);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.accomplissements-img {
  width: 580px;
  height: 400px;
}

.recompenses {
  display: flex;
  flex-direction: row;
  width: 30%;
  height: 30%;
  gap: 20px;
  position: absolute;
  left: 16%;
  z-index: 100;
}

.recompense1 {
  filter: brightness(0.5);
}
.recompense2 {
  filter: brightness(0.5);
}
.recompense3 {
  filter: brightness(0.5);
}

.gauge {
  width: 200px;
  height: 20px;
  border: 2px solid red;
}
