.accomplissements-titre {
  position: absolute;
  top: 15%;
  font-size: 28px;
  font-family: "Starborn";
}

.accomplissements-container {
  display: flex;
  position: absolute;
  top: 2.5%;
  left: 4%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  filter: brightness(0.5);
  pointer-events: none;
}

.accomplissements-img {
  width: 580px;
  height: 400px;
  pointer-events: none;
}

.recompenses {
  display: flex;
  position: absolute;
  left: 16%;
  flex-direction: row;
  gap: 20px;
  z-index: 100;
  height: 30%;
  pointer-events: none;
}

.recompense1 {
  filter: brightness(0.5);
}
.recompense2 {
  filter: brightness(0.5);
}
.recompense3 {
  filter: brightness(0.5);
}

.gauge {
  position: absolute;
  bottom: 20%;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 20px;
  width: 65%;
  height: 30px;
}

.gauge-fill {
  border-radius: 20px;
  background: linear-gradient(90deg, #742ac0, #4e89d2, #70d63c);
  width: 0%;
  max-width: 100%;
  height: 100%;
}
