.boutons-container {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 11%;
  z-index: 100;
  height: 97px;
}

.boutons {
  z-index: 100;
  cursor: none;
  border: none;
  background-color: transparent;
  width: 291px;
  height: 97px;
  color: white;
  font-size: 30px;
}

.jouer {
  background-image: url("/png/btnVertOff.png");
}

.allumer {
  background-image: url("/png/btnBleuOff.png");
}

.on {
  filter: brightness(1.67);
  transition: opacity 0.5s, filter 0.2s;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
