.boutons-container {
  position: absolute;
  height: 97px;
  bottom: 11%;
  display: flex;
  flex-direction: row;
  right: 21%;
  gap: 80px;
  z-index: 100;
}

.boutons {
  height: 97px;
  width: 291px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 100;
  color: white;
  font-size: 30px;
}

.jouer {
  background-image: url("/png/btnVertOff.png");
}

.allumer {
  background-image: url("/png/btnBleuOff.png");
}

.on {
  filter: brightness(2);
  transition: all 0.5s;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
