/* ===== Cadre Jaune Légende (Gauche) ===== */
.legende-container {
  position: absolute;
  top: 21.5%;
  left: 4%;
  filter: brightness(0.5);

  background-image: url("/png/legende.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 580px;
  height: 580px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.legende-content {
  display: flex;
  position: absolute;
  top: 130;
  left: 130;
  flex-direction: column;
  gap: 20px;
  background-image: url("/png/Keypad.png");
  width: 300px;
  height: 300px;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

.brightness-in {
  animation: brightness-in 0.5s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes brightness-in {
  to {
    filter: brightness(1);
  }
}

.keypad {
  position: relative;
  width: 320px;
  height: 400px;
  background: url("/png/keypad.png") center/contain no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.keypad .button_cont {
  position: absolute;
  top: 0;
  left: 10px;
  width: 94%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.keypad .button_cont button {
  background: transparent;
  border: none;
  width: 90px;
  height: 90px;
  cursor: pointer;
  text-indent: -9999px;
  overflow: hidden;
}
