/* * ===== Compteurs Container ===== */
.compteurs-container {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: flex-end;
  gap: 80px;
  z-index: 50;
  filter: brightness(0.5);
  background-image: url("/png/bottomPage.png");
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 5px;
  width: 100%;
  height: 130px;
}

/* ===== Mise Section ===== */
.btn-mise {
  display: flex;
  justify-content: space-between;
  align-items: center;
  filter: brightness(1.3);
  background-image: url("/png/btnMise.png");
  background-position: center;
  background-size: cover;
  width: 334px;
  height: 59px;
}

.boutons-compteurs {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: none;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  width: 60px;
  height: 60px;
  font-size: 40px;
}

.btn-mise-text {
  font-size: 20px;
  position: absolute;
  left: 35%;
}

.balance {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  filter: brightness(1.3);
  background-image: url("/png/btnBalance.png");
  background-position: center;
  background-size: cover;
  width: 334px;
  height: 59px;
}

.balance-text {
  font-size: 20px;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* ===== Bet Popup ===== */
.bet-popup {
  position: absolute;
  bottom: 730px;
  right: -110%;
  animation: popUp 0.8s ease-out forwards;
  color: #ffd700;
  font-weight: 800;
  font-size: 80px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.bet {
  color: #ff0000;
}

/* ===== Win Popup ===== */
.win {
  color: rgb(102, 255, 0);
}

@keyframes popUp {
  0% {
    transform: translateY(10px) scale(0.8);
    opacity: 0;
  }
  50% {
    transform: translateY(-5px) scale(1.1);
    opacity: 1;
  }
  100% {
    transform: translateY(-15px) scale(1);
    opacity: 0;
  }
}
/* ===== Max Bet Popup ===== */
.mise-max {
  position: absolute;
  bottom: 70%;
  left: 30%;
  animation: scaleAnim 1s infinite alternate;
  margin-left: 15px;
  color: gold;
  font-weight: 900;
  letter-spacing: 5px;
  text-shadow: 0 0 10px #ffcc00, 0 0 20px #ff9900;
}

@keyframes scaleAnim {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
