/* * ===== Compteurs Container ===== */
.compteurs-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 130px;
  background-image: url("/png/bottomPage.png");
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 5px;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 80px;
  z-index: 50;
}

/* ===== Mise Section ===== */
.btn-mise {
  width: 334px;
  height: 59px;
  background-image: url("/png/btnMise.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  filter: brightness(1.3);
}

.boutons-compteurs {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-mise-text {
  font-size: 20px;
}

/* ===== Balance Section ===== */
.balance {
  position: relative;
  width: 334px;
  height: 59px;
  background-image: url("/png/btnBalance.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: brightness(1.3);
}

.balance-text {
  font-size: 20px;
}

.balance-change {
  position: absolute;
  bottom: 800px;
  right: 290px;
  font-size: 100px;
  font-weight: bold;
  animation: popUp 0.8s ease-out forwards;
}

.balance-change.win {
  color: limegreen;
}
.balance-change.lose {
  color: red;
}

@keyframes popUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  50% {
    opacity: 1;
    transform: translateY(-5px);
  }
  100% {
    opacity: 0;
    transform: translateY(-15px);
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
