.object-wrap {
  display: flex;
  position: absolute;
  top: 0;
  left: 30%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1218.9488px;
  height: 781.6846px;
}

.object-container {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  filter: brightness(0.5);
  background-image: url("/png/jeuBG.png");
  background-position: calc(50% - 20px) center;
  background-size: cover;
  padding: 70px;
  width: 1030px;
  height: 650px;
  overflow: hidden;
}

.jeuCadre {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  filter: brightness(0.5);
  background-image: url("/png/jeuCadre.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 1218px;
  height: 781px;
  pointer-events: none;
}

.object {
  opacity: 0;
  width: 200px;
  height: 200px;
  object-fit: content;
}
