/* ===== Cadre Jaune Légende (Gauche) ===== */
.legende-container {
  position: absolute;
  top: 21.5%;
  left: 4%;
  width: 580px;
  height: 580px;
  filter: brightness(0.5);

  background-image: url("/png/legende.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.legende-content {
  position: absolute;
  left: 130;
  top: 130;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

.brightness-in {
  animation: brightness-in 0.5s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes brightness-in {
  to {
    filter: brightness(1);
  }
}

.legende-symbols {
  width: 7%;
}

.legende-multipliers {
  display: flex;
  align-items: center;
  gap: 10px;
}

.jackpot {
  font-weight: 900;
  color: gold;
  text-shadow: 0 0 10px #ffcc00, 0 0 20px #ff9900;
  animation: scaleAnim 1.2s infinite alternate;
  letter-spacing: 5px;
  margin-left: 15px;
}

@keyframes scaleAnim {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
