.levier-container {
  position: absolute;
  right: 6.7%;
  top: 20%;
  z-index: 0;
  transition: all 1s;
  filter: brightness(0.5);
}

.levier {
  width: 100px;
  rotate: 20deg;
  transform-origin: bottom left;
}

.brightness-in {
  animation: brightness-in 0.5s forwards;
}

@keyframes brightness-in {
  to {
    filter: brightness(1);
  }
}
