.levier-container {
  position: absolute;
  top: 20%;
  right: 1.5%;
  transform-origin: bottom left;
  rotate: 20deg;
  z-index: 0;
  filter: brightness(0.5);
  transition: filter 1s;

  background-image: url("/png/levier.png");
  background-position: center;
  background-position: left bottom;
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 250px;
}
.brightness-in {
  animation: brightness-in 0.5s forwards;
}

@keyframes brightness-in {
  to {
    filter: brightness(1);
  }
}
