.page-background {
  position: fixed;
  z-index: -1;
  background-image: url("/png/pageBackground.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.logo-container {
  display: flex;
  justify-content: center;
  width: 35%;
  height: 280px;
}

.brightness-in {
  animation: brightness-in 0.5s forwards;
}

@keyframes brightness-in {
  to {
    filter: brightness(1);
  }
}
