.page-background {
  position: fixed;
  z-index: -1;
  background-image: url("/png/pageBackground.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.logo-container {
  display: flex;
  position: relative;
  left: 12%;
  z-index: 200;
  margin: auto;
  margin-top: -45px;

  background-image: url("/png/logo.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 450px;
  width: 35%;
  height: 280px;
}
.bleu {
  filter: hue-rotate(-90deg);
  transition: all 0.5s;
}

.brightness-in {
  animation: brightness-in 0.5s forwards;
}

@keyframes brightness-in {
  to {
    filter: brightness(1);
  }
}
